.bg-dark {
  background-color: #262626 !important;


}
.navbar-light .navbar-nav .nav-link {
  color:#fff;
  transition: 0.3s;;
  
  &:hover{
    color:#666;
  }
}
.btn-link{
  margin-top: 10px;
  display: block;
}
.card{
  background: rgb(248,250,252);
  background: linear-gradient(0deg, rgba(248,250,252,1) 0%, rgba(255,255,255,1) 100%);
}
.card-header{
  background-color: transparent;
}

ul{
  list-style-type: disc;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.alert-login{
  margin-top: 10px;
  margin-bottom: 0px;
}